---
version: 2.1
jobs:
  build:
    docker:
      - image: cimg/ruby:2.6
        environment:
          RACK_ENV: test
    working_directory: ~/haddi

    steps:
      - checkout

      - restore_cache:
          name: Restore gem cache
          keys:
            - gem-cache-v9-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - gem-cache-v9-{{ arch }}-{{ .Branch }}
            - gem-cache-v9-{{ arch }}
            - gem-cache-v9

      - run:
          name: Install gem dependencies
          command: |
            gem install bundler
            bundle check || bundle install --jobs=6 -- retry=3 --path vendor/bundle

      - save_cache:
          name: Save gem cache
          paths:
            - vendor/bundle
          key: gem-cache-v9-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}

      - run:
          name: Run tests
          command: bundle exec rake

      - run:
          name: Run linters
          command: bundle exec rubocop --parallel
